<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板引擎</title>
	<script src="artTemplate/template-native.js"></script>
</head>
<body>
	<p id="p1">
		
	</p>
</body>
</html>
<script type="text/template" id="tmp">
	大家好，我叫<%= name%>，来自于<%= address%>，今年<%= age%>岁了，手机号是<%= phone%>.
</script>
<script type="text/javascript">
	var obj = {
		name:'刘德华',
		address:'柏林',
		phone:13012345678,
		age:20
	};
	var htmlStr = template('tmp',obj);
	document.querySelector('#p1').innerHTML = htmlStr;
</script>